<%= form_tag "/contacts/#{@contact.id}", class: "new-contact-form", method: :patch do %>  
<div class="form-group update-contact-form-field">
  <%= label_tag :first_name, "First Name:" %>
  <%= text_field_tag :first_name, @contact.first_name, placeholder: "first name" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag :last_name, "Last Name:" %>
  <%= text_field_tag :last_name, @contact.last_name, placeholder: "last Name" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Company:" %>
  <%= text_field_tag :company, @contact.company, placeholder: "company" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Cell Phone:" %>
  <%= telephone_field_tag :cell_phone, @contact.cell_phone, placeholder: "cell phone" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Home Phone:" %>
  <%= telephone_field_tag :home_phone, @contact.home_phone, placeholder: "home phone" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Email:" %>
  <%= email_field_tag :email, @contact.email, placeholder: "email" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Birthday" %>
  <%= date_field_tag :birthday, @contact.birthday, placeholder: "birthday" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Website:" %>
  <%= text_field_tag :website, @contact.website, placeholder: "website" %>
</div>
<div class="form-group new-contact-form-field">
  <%= label_tag "Photo Url:" %>
  <%= text_field_tag :photo, @contact.photo, placeholder: "photo url" %>
</div>
<%= button_tag "Update Contact", class: "btn btn-info" %>
<%= link_to "Delete Contact", "/contacts/#{@contact.id}", method: :delete, class: "btn btn-warning" %>
<% end %>