<div class="show-contact-card">
  <h4><%= @contact.last_name %><small>, <%= @contact.first_name %></small></h4>
  <p>c. <%= @contact.cell_phone %></p>
  <p>h. <%= @contact.home_phone %></p>
  <p><%= @contact.email %></p>
  <p><%= @contact.birthday %></p>
  <p><%= @contact.website %></p>
  <%= image_tag(@contact.photo) %>
  <%= link_to "Edit Contact", "/contacts/#{@contact.id}/edit", class: "btn btn-info" %>
</div>
